@model IEnumerable<TinyBudget.Models.BudgetModel>

@{
    ViewBag.Title = "Index";
}

<h2>Tiny Budget</h2>



<div>
    <h1>Your Budget!</h1>
    <div>
        <h2>Income and Expenses</h2>
        <div class="col-md-6">
            <div>
                <h3>Come Up With Heading</h3>
                <div> 
                    @Html.Partial("~/Income", TinyBudget.Models.IncomeModel)
                </div>
                <div>
                    <h4>manditory</h4>
                </div>
                <div>
                    <h4>Bills</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h2>Food</h2>
            <div>
                <h4>Eating In</h4>
            </div>
            <div>
                <h4>Eating Out</h4>
            </div>
        </div>
        <div>
            <h3>Homegoods</h3>
            <div>
                <h6>Recuring</h6>
            </div>
            <div>
                <h6>Incidental</h6>
            </div>
        </div>
    </div>
    <div />



    <div>
        <h2>For the Future</h2>
        <div class="col-md-6">
            <h5>Savings</h5>
            <div>
                <h6>Long Term</h6>
            </div>
            <div>
                <h6>Medium Term</h6>
            </div>
            <div>
                <h6>Short Term</h6>
            </div>
        </div>

        <div class="col-md-6">
            <h5>Donations</h5>
            <div>
                <h6>Charitable</h6>
            </div>
            <div>
                <h6>Political</h6>
            </div>
            <div>
                <h6>Other</h6>
            </div>
        </div>

    </div>
</div>